@media only screen and (max-width:767px) {

	.font-36 {
		font-size: 24px;
	}

	.navbar-expand-lg  .navbar-toggler{
	    top: -2em;
    position: absolute;

	}

	.nav-custom {
		padding: 15px 5px;
		background-color: #fff;
		margin-top: 10px;
	}

	.navbar-collapse {
		width: 25em;
	}

	.font-18 {
		font-size: 15px;
	}

	.font-30 {
		font-size: 20px;
	}

	.font-16 {
		font-size: 14px;
	}

	.location-section {

		min-height: 220px;

	}

	.marign-top-10 {
		margin-top: 0 !important;
	}
	.carousel-custom h1 {
	font-size: 18px;
	}
	.header-section {
		position: unset;
	 
	}
	.carousel-custom {
		 
		top: 25%;
	}
	.project-section {
		 
		min-height: auto;
	 
	}
	.project-carousel .owl-next::before, .project-carousel .owl-prev::before {
	 
		top: 0 !important;
	 
	}
	#footer-video {
	 
		height: 57em;
	 
	}
	.mobile-app-service-box{
		min-height: auto;
	  }
}

@media screen and (min-width:768px) and (max-width:991px) {
	.navbar-expand-lg  .navbar-toggler{
		top: -2em;
		position: absolute;
	}

	.nav-custom {
		padding: 15px 5px;
		background-color: #fff;
		margin-top: 10px;
	}

	.navbar-collapse {
		width: 58em;
	}

	.font-36 {
		font-size: 27px;
	}

	.location-section {

		min-height: 450px;

	}

	.marign-top-10 {
		margin-top: 7em !important;
	}
	.header-section {
		position: unset;
	}
	.carousel-custom {
		 
		top: 30%;
	}	 
	.project-section {
	 	min-height: auto;
	 
	}
	.project-carousel .owl-prev::before {
		 
		left: 4em;
	}
	 
	.project-carousel .owl-next::before, .project-carousel .owl-prev::before {
	 
		bottom: -1em !important;
	 
	}
	.project-carousel .owl-next::before {
	 
		left: 5em !important;
	}
	.mt-s-3 {
		margin-top: 3em;
		margin-left: auto;
		margin-right: auto;
	}
	#footer-video {
	 
		height: 35em;
	 
	}
}

@media(min-width:992px) and (max-width:1199px) {
	.about-section .col-lg-3 {
		width: 40% !important;
		margin: 0 auto;
	}
	.carousel-custom {
		left: 10%;
		top: 40%;
	}
	.location-section {

		min-height: 460px;

	}
	.font-24 {
		font-size: 20px;
	}
	.font-36 {
		font-size: 27px;
	}
	.font-15 {
		font-size: 14px;
	}
	.project-section {
		min-height: auto;
	
   }
   .project-carousel .owl-prev::before {
 
    left: 5em !important;
}

.project-carousel .owl-next::before {
 
    left: 7em !important;
}

.project-carousel .owl-next::before, .project-carousel .owl-prev::before {
 
    bottom: 0em;
    
}
.font-16 {
    font-size: 14px;
}
.navbar-expand-lg .navbar-collapse {
margin-top: -0.5em;
}
}

@media(min-width:1400px) {
    .location-section {

        min-height: 760px;

    }

	.mobile-app-service-box{
		min-height: 350px;
	  }
}

@media only screen and (max-height:575.98px) and (orientation:landscape) {
	.location-section {

		min-height: 750px;

	}
}
